body {
    margin: 0;
    background: url("img/1647954206_2-abrakadabra-fun-p-razmitii-gorod-8.jpg")
    line-height: normal;
    font-size: 19px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 100px 100px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 50px;
    text-align: center;
    color: red;
}

.card-subtitile {
    font-size: 50px;
    color: #315fc7;
}
